.problems-table {
    display: inline-table;
    width: 50%;
    height: 100%;
    margin: 3px;
    border-collapse: collapse;
    outline: 1px solid var(--primary-gray);
}

.problems-table td {
    padding: 0.5%;
    border: 1px solid var(--primary-gray);
}

.problems-table th {
    padding: 0.5%;
    border: 1px solid var(--primary-gray);
}