/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    top: 0;
    width: 100%;
}


.home-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
