.header {
  background-color: var(--primary);
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-item {
  margin: 0;
}

.nav-text {
  display: inline;
  text-decoration: none;
  color: var(--text);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-button {
  box-sizing: content-box;
  display: inline;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  background-color: transparent;
  color: var(--text);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-link:hover {
    text-shadow: 0 0 5px var(--icon);
}