:root {
    --primary: #000000;
    --text: #ffffff;
    --icon: #ff66ff;
    --success: #00ff00;
    --warning: #ff9900;
    --danger: #ff0000;
    --info: #00ccff;
}

.light {
    --primary: #ffffff;
    --text: #000000;
    --icon: #ff66ff;
    --success: #00ff00;
    --warning: #ff9900;
    --danger: #ff0000;
    --info: #00ccff;
}